<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">

<head>
    <meta http-equiv="refresh" content="image/jpeg">
    <title>Camera</title>
</head>

<body>




    <h1>Camera</h1>
<!--    <script>-->
<!--        function f() {-->
<!--            setTimeout(f,1000);-->
<!--            location.reload();-->
<!--        }-->
<!--        while(true){-->
<!--            f();-->
<!--        }-->
<!--    </script>-->
    <img id="100" src="../files/hello-world.jpg">

</div>

</body>
</html>